@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --header-height: 3.5rem;
    /*56px*/
    --first-color: rgba(45, 94, 107, 1);
    --first-color-alt: rgba(40, 83, 95, 1);
    --first-color-light: rgba(174, 200, 205, 1);
    --first-color-lighten: rgba(237, 244, 245, 1);
    --title-color: rgba(17, 22, 24, 1);
    --text-color: rgba(56, 65, 67, 1);
    --text-color-light: rgba(129, 140, 142, 1);
    --body-color: rgba(255, 255, 255, 1);
    --container-color: #FFF;
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .940rem;
    --small-font-size: .810rem;
    --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section{
    padding: 5.5rem 0 1rem;
  }
  
  .section_title,
  .section_title-center{
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
    line-height: 140%;
  }
  
  .section_title-center{
    text-align: center;
  }

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
    /*For animation*/
}

.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: var(--title-color);
}

.nav_logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}


.nav_logo:hover {
    color: var(--first-color);
}


.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav_link {
    color: var(--title-color);
    font-weight: 500;
    transition: .3s;
}

.nav_link:hover {
    color: var(--first-color);
}

.active-link {
    position: relative;
    color: var(--first-color);
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--first-color);
}

.home {
    padding: 3.5rem 0 2rem;
}

.home_container {
    position: relative;
    row-gap: 2rem;
}

.home_img {
    width: 100px;
    justify-self: center;
}

.rotate_image {
    transform: rotate(360deg);
}

.change_image {
    content: url("images/img2.png");
}

/* Zdefiniuj animacje dla hovera */
.home_img {
    animation: pulser 5s infinite;
}

.home_img:hover {
    animation: rotate 1s forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulser {
    0% {
        opacity: 0.7;
        transform: scale(1.0);
    }

    25% {
        opacity: 1;
        transform: scale(1.2);
    }

    50% {
        opacity: .7;
        transform: scale(1.0);
    }

    75% {
        opacity: 0.4;
        transform: scale(0.8);
    }

    100% {
        opacity: 0.7;
        transform: scale(1.0);
    }

}



.home_title {
    font-size: var(--big-font-size);
    line-height: 140%;
    margin-bottom: 1rem;
}

.home_description {
    margin-bottom: 2.5rem;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}


.button:hover {
    transform: translateX(.25rem);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}


.about_container {
    row-gap: 2rem;
}

.about_img {
    width: 280px;
    justify-self: center;
}

.about_title {
    margin-bottom: 1rem;
}

.about_description {
    margin-bottom: 2rem;
}

.about_details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
}

.about_details ul {
    list-style: inside;
}


.steps_bg {
    background-color: var(--first-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
}

.steps_container {
    gap: 2rem;
    padding-top: 1rem;
}

.steps_title {
    color: #FFF;
}

.steps_card {
    background-color: var(--container-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
}

.steps_card-number {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: #FFF;
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.steps_card-title {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.steps_card-description {
    font-size: var(--small-font-size);
}

.steps_card:hover .steps_card-number {
    transform: translateY(-.25rem);
}


@media screen and (min-width: 576px){
    .steps_container{
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav_menu {
        margin-left: auto;
    }

    .home_container .about_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .home {
        padding: 10rem 0 5rem;
    }

    .home_container {
        align-items: center;
    }

    .home_img {
        width: 280px;
        order: 1;
    }
}


@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 8rem 0 1rem;
    }

    .section_title,
    .section_title-center {
        font-size: var(--h1-font-size);
    }

    .home {
        padding: 13rem 0 5rem;
    }

    .home_img {
        width: 400px;
    }

    .home_description {
        padding-right: 7rem;
    }

    .about_img {
        width: 380px;
    }

    .steps_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .steps_bg {
        padding: 3.5rem 2.5rem;
    }

    .steps_card-title {
        font-size: var(--normal-font-size);
    }
}